body {
  font-family: -apple-system, BlinkMacSystemFont, "Gotham", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav a,
nav .theme {
  display: flex;
  padding: 1rem;
  color: #000000;
  font-size: 1.5em;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
}

nav a.active {
  color: #880000;
  font-weight: bold;
}

#main {
  padding: 1rem;
  background-color: #ffffff;
  height: 100%;
}
